@*@model MBran.ContentModule.Web.Test.Models.HeroBanner*@
@*or*@
@using MBran.ContentModule.Extensions
@model TextAndMedia

<h1>Text Media</h1>
<div>@Model.TextAndMediaTitle</div>
<div>
    @if (Model.TextAndMediaModules != null)
    {
        foreach (var module in Model.TextAndMediaModules)
        {
            @Html.SubModule(module)
        }    
    }
    
</div>